.title__2{
    color: var(--color-black);
    font-family: 'Oswald', sans-serif;
    font-size: var(--font-size-1-mobile);
    font-weight: var(--font-weigth-2);
    text-transform: uppercase;
    margin: 0 auto;
    padding: 2rem 0;
}
.login__form{
    display: flex;
    flex-direction: column;
    gap: 1.1875rem;
    padding: 1rem 0;
    div{
        display: flex;
        gap: 1rem;
        .login__btn{
            background-color: var(--color-black);
            color: var(--color-white);
            min-width: 146px;
            height: 60px;
            border: 1px solid var(--color-black);
            font-size: var(--font-size-5);
            font-weight: var(--font-weigth-2);
            letter-spacing: 0.135rem;
            text-transform: uppercase;
            margin: 25px 0;
        }
        .register__btn{
            color: var(--color-black);
            background-color: var(--color-white);
            width: 195px;
            height: 60px;
            border: 1px solid var(--color-black);
            font-size: var(--font-size-5);
            font-weight: var(--font-weigth-2);
            letter-spacing: 0.135rem;
            text-transform: uppercase;
            margin: 25px 0;
        }
    }
}
@media (min-width: 1024px) {
    .container__form{
        width: 45%;
        padding: 0 0 0 3.75rem;
        .title__2{
            font-size: var(--font-size-1);
        }
        .login__form{
            flex-direction: column;
        }
    }
  }