.modalOverlay{
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    inset: 0;

    width: 100%;
    height: 100vh;
    background: #0000004d;
}
.modalBox{
    position: absolute;
    width:  92%;
    max-width:  512px;
    background: var(--color-white);
    padding: 2rem 0;
    .modal__header{
        display: flex;
        justify-content: space-between;
        padding: 0 0 1rem 0;
        width: 92%;
        margin: 0 auto;
        align-items: center;
        h3{
            color: var(--color-black);
            font-family: 'Oswald', sans-serif;
            font-size: var(--font-size-3);
            font-weight: var(--font-weigth-2);
            text-transform: uppercase;
        }
        .closeButton{
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
        }  
    }
    .product__form{
        width: 92%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 1.3125rem;
        textarea{
            background-color: var(--color-gray);
            border: none;
            font-size: var(--font-size-6);
            padding: 1.625rem;
            font-weight: var(--font-weigth-2);
            font-family: 'Oswald', sans-serif;
            max-width: 89%;
        }
        div{
            display: flex;
            justify-content: end;
            button{
                display: flex;
                align-items: center;
                max-height: 3.75rem;
                min-height: 2.8125rem;
                background-color: var(--color-black);
                color: var(--color-white);
                font-size: var(--font-size-5);
                font-weight: var(--font-weigth-1);
                font-family: 'Roboto', sans-serif;
                gap: 1rem;
                border: none;
                img{
                    color: var(--color-white);
                    width: 2.25rem;
                    height: 2.25rem;
                }
            }
        }
    }

}