.header__container{
    display: flex;
    justify-content: space-between;
    max-width: 1450px;
    width: 92%;
    margin: 0 auto;
    padding: 1.4375rem 0;
    box-sizing: border-box;
    img{
        cursor: pointer;
    }
}