@import url(./Reset.scss);

:root{

    // COLOR
    --color-black: #000;
    --color-white: #FFF;
    --color-gray: #EEE;

    // TEXT
    --font-size-1: 100px;
    --font-size-1-mobile: 60px;
    --font-size-2: 60px;
    --font-size-2-mobile: 44px;
    --font-size-3: 32px;
    --font-size-4: 19px;
    --font-size-5: 18px;
    --font-size-6: 20px;
    --font-size-7: 14px;

    --font-weigth-1: 400;
    --font-weigth-2: 500;
    --font-weigth-3: 700;

}

body{
    font-family: 'Roboto', sans-serif;
}