.footer__container{
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding: 2rem 1rem;
    font-size: var(--font-size-4);
    font-weight: var(--font-weigth-3);
}